*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html{
  background: url(lamppu.jpg) no-repeat center center fixed;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size: cover;
}

nav{
   width: 100%;
   position: absolute;
   top: 2%;
   left: -0.5%;
   padding: 0 0;
   display: flex;
   align-items: center;
   justify-content: space-between;
}



nav ul li{
  list-style: none;
  display: inline-block;
  margin-left: 20px;
}

nav ul li a{
  font-family: 'Roboto' sans-serif;
  color: #000000;
  font-size: 20px;
  text-shadow: 10px 10px 5px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
}

.profile{
  width: auto;
  height: auto;
  position: absolute;
  top: 32.5%;
  left: 0.6%;
  padding: 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile{
top: 40%;
left: 1%;
width: 7%;
height: 4%;
border: 4.5px solid #0C0C0C;
opacity: .8;
word-wrap: break-word;
}
